@page "/pagamento/{Id:int}/editar"
@rendermode InteractiveServer

@using VisioLens_Blazor.Models;
@inject PagamentoDAO pagamentoDAO;
@inject NavigationManager Navigation;

<PageTitle>Pagamento</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Atualização Pagamento - @pagamento.Cliente</h1>

@if (erro != string.Empty)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
        <strong class="font-bold">Erro!</strong>
        <span class="block sm:inline">@erro</span>
    </div>
}

<EditForm Model="pagamento" OnSubmit="Salvar">
    <div class="mb-4">
        <label for="cliente" class="block text-sm font-medium text-gray-700">Cliente</label>
        <input @bind-value="pagamento.Cliente" type="text" id="cliente"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="fotografo" class="block text-sm font-medium text-gray-700">Fotografo</label>
        <input @bind-value="pagamento.Fotografo" type="text" id="fotografo"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="pacoteContratado" class="block text-sm font-medium text-gray-700">Pacote Contratado</label>
        <input @bind-value="pagamento.PacoteContratado" type="text" id="pacoteContratado"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="valorPago" class="block text-sm font-medium text-gray-700">Valor Pago</label>
        <input @bind-value="pagamento.ValorPago" type="text" id="valorPago"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="valorTotal" class="block text-sm font-medium text-gray-700">Valor Total</label>
        <input @bind-value="pagamento.ValorTotal" type="text" id="valorTotal"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="valorRestante" class="block text-sm font-medium text-gray-700">Valor Restante</label>
        <input @bind-value="pagamento.ValorRestante" type="text" id="valorRestante"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="formaPagamento" class="block text-sm font-medium text-gray-700">Forma Pagamento</label>
        <input @bind-value="pagamento.FormaPagamento" type="text" id="forma"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <div class="mb-4">
        <label for="statusPagamento" class="block text-sm font-medium text-gray-700">Status</label>
        <input @bind-value="pagamento.StatusPagamento" type="text" id="status"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" />
    </div>

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Salvar</button>
</EditForm>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Pagamento pagamento { get; set; } = new();

    protected override void OnInitialized()
    {
        var _pagamento = pagamentoDAO.BuscarPorId(Id);

        if (_pagamento != null)
        {
            pagamento = _pagamento;
        }
        else
        {
            erro = "Pagamento não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            pagamentoDAO.Atualizar(pagamento);

            Navigation.NavigateTo("/ListaPagamento");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar o pagamento: {ex.Message}";
        }

    }
}