@page "/Sessao/novo"
@rendermode InteractiveServer

@using VisioLens_Blazor.Models;
@inject TipoDeSessaoDAO tipodesessaoDAO;
@inject NavigationManager Navigation;

<PageTitle>Sessão - Novo</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Nova Sessão</h1>
<link href="/bootstrap/Colaborador.css" rel="stylesheet" />
@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}    
<div class="row">
    <div class="col">
            <EditForm Model="_novoSessao" OnSubmit="Salvar">
            <div class="form-group mb-4">
                <label>Duração</label>
                <input @bind-value="_novoSessao!.Duracao" type="text" class="form-control" name="Duracao"
                       placeholder="Informe a duração da sessão" />
            </div>

            <div class="form-group mb-4">
                <label>Preço</label>
                <input @bind-value="_novoSessao!.PrecoPadrao" type="text" class="form-control" name="PrecoPadrao"
                       placeholder="Informe o preço" />
            </div>

            <div class="form-group mb-4">
                <label>Quantidade de fotos</label>
                <input @bind-value="_novoSessao!.Quantidade" type="text" class="form-control" name="Quantidade"
                       placeholder="Informe a quantidade de fotos" />
            </div>

            <div class="form-group mb-4">
                <label>Data de entrega</label>
                <input @bind-value="_novoSessao!.Entrega" type="date" class="form-control" name="Entrega"
                       placeholder="Informe a data de entrega" />
            </div>
            <div class="form-group mb-4">
                <label>Categoria</label>
                <input @bind-value="_novoSessao!.Categoria" type="text" class="form-control" name="Categoria"
                       placeholder="Informe a categoria" />
            </div>
            <div class="form-group mb-4">
                <label>Observações</label>
                <input @bind-value="_novoSessao!.Observaçao" type="text" class="form-control" name="Observacao"
                       placeholder="Informe as observações" />
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
        </EditForm>
    </div>
</div>

@code {
    private string? erro = null;

    [SupplyParameterFromForm]

    private TipoDeSessao? _novoSessao { get; set; } = new TipoDeSessao();

    private void Salvar()
    {
        try
        {
            if (_novoSessao.Categoria is null || _novoSessao.Categoria == " ")
            {
                throw new Exception("O campo categoria é obrigatório");
            }
            else
            {
                Console.WriteLine("Sessão Salvo!!");
            }

            tipodesessaoDAO.Inserir(_novoSessao);

            Navigation.NavigateTo("/Sessao");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }

}
