@page "/Cliente"

@using VisioLens_Blazor.Models;
@inject ClienteDAO clienteDAO

<link rel="stylesheet" href="/bootstrap/colaborador.css" />

<div class="colaborador">
    <h2>Cadastro cliente</h2>
    <form action="cadastroCliente">

        <label for="nome">Nome:</label>
        <input class="label-nome" type="nome" id="nome">

        <label for="cpf">CPF:</label>
        <input class="label-nome" type="cpf" id="cpf">

        <label for="dataNasci">Data de Nascimento:</label>
        <input class="label-dataNasc" type="dataNasc" id="dataNasc">

        <label for="Telefone">Telefone:</label>
        <input class="label-telefone" type="telefone" id="telefone">

        <label for="email">E-mail:</label>
        <input class="label-email" type="email" id="email">


        <button type="submit">Salvar</button>



    </form>
</div>



@code {

    private List<Cliente> listaCliente = new();

    protected override void OnInitialized()
    {
        CarregarCliente();
    }

    private void CarregarCliente()
    {
        listaCliente= clienteDAO.ListarTodos();
    }

    private void Salvar()
    {
        // ação ao clicar
        Console.WriteLine("Botão funcionando!");
    }

} 